@media screen and (max-width:1100px) {
    .wmain,
    .header .hti h1 {
        max-width: 95%;
        min-width: 95%;
    }
}

@media screen and (max-width: 767px) {
    html,
    body {
        font-size: 3.8vw;
    }
    body {
        min-width: 100%;
    }
    .wmain,
    .header .hti h1 {
        max-width: 95%;
        min-width: 95%;
    }
    h2 {
        font-size: 6vw;
        letter-spacing: 0;
    }
    .sp {
        display: block;
    }
    .pc {
        display: none;
    }
    .fv {
        background: none;
        text-align: center;
    }
    .fv .wmain {
        max-width: 100%;
        min-width: 100%
    }
    .fvbtm {
        justify-content: space-between;
        padding: 4vw 2vw;
    }
    .fvbtm li {
        margin: 0 1px;
    }
    .header .hti h1 {
        font-size: 11px;
        text-align: center;
        line-height: 1.4em;
    }
    .header .logo {
        width: 100%;
        overflow: hidden;
        text-align: center;
        margin: 0;
    }
    .header .logo img {
        width: 55vw;
    }
    .header .head-cta {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        background: #fffeac;
        padding: 3vw 0;
        border-top: 1px solid #ddd;
        z-index: 9;
    }
    .header .head-cta ul li {
        width: 31%;
        vertical-align: middle;
    }
    .header .head-cta ul {
        text-align: center;
    }
    .crn .ctn {
        max-width: 95%;
    }
    .crn .ctn .ttl_box .ttl {
        font-size: 4.4vw;
    }
    .crn .ctn {
        max-width: 90%;
    }
    .crn .ctn .txt {
        display: block;
    }
    .crn .ctn .txt li {
        display: block;
        width: 100%;
        margin: 0 auto 2vw;
        font-size: 3.6vw;
        letter-spacing: 0;
    }
    .anshin h2 {
        font-size: 5vw;
    }
    .anshin ul {
        padding: 10px;
        flex-wrap: wrap;
    }
    .anshin li {
        width: 48%;
        margin: 3px;
    }
    .anshin .center {
        font-size: 4vw;
    }
    .anshin .wmain {
        background-size: 80px;
        padding: 8vw 0;
    }
    .cta .wmain {
        background: none;
    }
    .cta ul {
        padding: 15px;
        background: #fff;
        border-radius: 8px;
        margin: 0 auto;
    }
    .cta li {
        display: block;
        width: 100%;
        margin: 0 auto 5px;
    }
    .nayami .ctn {
        float: none;
        width: 90%;
        padding: 10px;
        background: rgba(255, 255, 255, 0.8)
    }
    .nayami {
        padding: 8vw 0;
        background-position: 0 0;
    }
    .nayami h2 {
        text-align: center;
    }
    .nayami .img {
        float: none;
        width: 100%;
    }
    .nayami .txt {
        float: none;
        width: 100%
    }
    .nayami ul {
        padding: 3vw 2vw 0;
    }
    .nayami li p {
        font-size: 4vw;
        line-height: 1.6em;
    }
    .kaiketsu p {
        font-size: 4.5vw;
    }
    .price .wmain {
        padding: 8vw 0;
        background-size: 80px;
    }
    .price ul {
        justify-content: space-between;
    }
    .price li {
        width: 43%;
        margin: 1.5% 0.5%;
        padding: 10px;
    }
    .price .prc {
        font-size: 5.5vw;
        letter-spacing: 0;
    }
    .service ul {
        justify-content: space-between;
    }
    .service li {
        width: 47%;
        margin: 1% 0.5%;
    }
    .service .txt {
        font-size: 3.4vw;
        letter-spacing: 0;
    }
    .reason {
        background: #f5f5f5;
        padding: 8vw 0;
    }
    .reason ul {
        display: block;
        margin: 10vw auto 0;
    }
    .reason li {
        width: 85%;
        padding: 3.5vw;
        margin: 0 auto 6vw;
        background: #fff;
        letter-spacing: 0;
    }
    .reason .ti {
        font-size: 5vw;
    }
    .compare {
        background: none;
        padding: 8vw 0;
    }
    .gnav {
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
    }
    .gnav:before {
        content: "右へスクロールしてください→";
        padding: 5px;
        width: 100%;
        display: block;
        color: red;
    }
    .gnav .tbl {
        width: 630px;
        margin: 0;
    }
    .map {
        padding: 8vw 0;
    }
    .flow {
        padding: 12vw 0 4vw;
    }
    .flow ul {
        width: 100%;
        display: block;
    }
    .flow li {
        width: 95%;
        overflow: hidden;
        margin: 0 auto 6vw;
        padding: 0 0 6vw;
    }
    .flow li .img {
        float: left;
        width: 25%;
    }
    .flow li .txt {
        float: right;
        width: 70%;
    }
    .flow li .ti {
        text-align: left;
        margin: 0 0 2vw;
        min-height: inherit;
        font-size: 5vw;
    }
    .flow li:after {
        top: inherit;
        right: 0;
        bottom: -7px;
        left: 0;
        margin: 0 auto;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        height: 30px;
    }
    .qa ul li .q p {
        font-size: 3.4vw;
        padding: 12px 30px 12px 50px;
    }
    .qa ul li .a p {
        font-size: 3.4vw;
    }
    .contact .sub {
        font-size: 3.4vw;
    }
    .contact input[type=radio]+label {
        font-size: 3.4vw;
    }
    .contact table th,
    .contact table td {
        width: 100%;
        overflow: hidden;
        display: block;
        padding: 0;
    }
    .contact table th {
        padding: 5px 0;
        background: #f5f5f5;
    }
    .contact table td {
        margin: 0 0 10px;
        padding: 0 0 10px;
        border-bottom: 1px dotted #ddd;
    }
    .terms-block .terms-inner {
        font-size: 2.5vw;
    }
    .footer h2 {
        font-size: 3vw!important;
    }
    .footer {
        font-size: 3vw;
        line-height: 1.6em;
    }
    .copyright {
        margin: 6vw 0 27vw;
        font-size: 1.6vw;
        line-height: 2.4em;
    }
    .gotop {
        bottom: 27vw;
        width: 38px;
    }
    p.confirm {
        margin: 0 0 30px;
    }
    .mail-btn li {
        display: block;
        margin: 0 0 3px;
    }
    .contact .mailform,
    .qa ul {
        width: 95%;
    }
}